Q WA function to take a number as parameter and  print True if given number is even else print False

In [2]:
def even_p(n):
    if n%2==0:
        print("true")
    else:
        print("false")
    return
even_p(5)

false

Q WA function to take list as parameter and print all numbers of given list which are divisible by 11

In [3]:
def div_11(l1):
    for i in l1:
        if i%11==0:
            print(i)
        else:
            pass
    return
l2 = [52,22,56,88]
div_11(l2)

22
88

Q WA function to take string as parameter
Check if string is palindrome are not
If palindrome return 1
if not palindrome return 0

In [2]:
def palli(n):
    if n[::1]==n[::-1]:
        return 1
    else:
        return 0
palli("ababa")

1

WA function to check if number is prime or not. Return True if number is prime and false if number not prime.

In [4]:
def prime(num):
    for n in range(2,num):
        if num % n ==0:
            return True
            break
        else:
            return False

In [5]:
prime(5)

False

Q WA function to take a string as parameter. Print its alternate characters starting from 2nd character

In [6]:
def char_1(n1):
    print(n1[1::2])
char_1("IACSD")

AS

Q WA function to take dictionary as parameter. Print all keys of the dictionary

In [14]:
def dict_keys(d2):
    for key in d1:
        print(key)
    print(list(d1.keys()))
    
d1 = {"a":45,"b":78,"c":89,"d":12}

dict_keys(d1)

a
b
c
d
['a', 'b', 'c', 'd']

Q WA function to take a dictionary as parameter. Print value of key "name" if key "rollno" is having value 100.

In [7]:
def dict_val(d3):
    if d3['rollno']==100:
        print(d3['name'])
    
        
d4 = {"name":"rahul","rollno":100}

In [18]:
dict_val(d4)

rahul

write a function to take dictionary as parameter print value of key 'price'id key iteams is milk

In [19]:
def check(d1):
    if d1['item'] == 'milk':
        print(d1['price'])

In [21]:
d={'item': 'milk','price':200}
check(d)

200

WA function to list of strings as parameter and print all strings which have character 's' 2 times

In [22]:
def stri(l5):
    for i in l5:
        if i.count('s')==2:
            print(i)
l7 = ['saraswati','sasane','sagar']

In [23]:
stri(l7)

saraswati
sasane

Q WA function to take list of dictionaries. Print all dictionaries which contain key "id".

In [1]:
def list_dict(l8):
    for d in l8:
        if 'id' in d.keys():
            print(d)

    
ld2 = [{'bookid':1554,'name':"vhbasdbw"},{'bookid':1444,'name':"qerty"},{'id':1554,'m_name':"paa"}]

In [27]:
list_dict(ld2)

{'id': 1554, 'm_name': 'paa'}